#official python gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/symbols_list
symbols_list
/ken_api
/tbc_ken_api.egg-info
/dist
/Generate.cmd
/setup.py
/build
/lib workspace/ken_api/build
/lib workspace/ken_api/dist
/lib workspace/ken_api/tbc_ken_api.egg-info
/lib workspace/ken_api/Generate.cmd