#official python gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/symbols_list
symbols_list
/ken_api
/tbc_ken_api.egg-info
/dist
/Generate.cmd
/setup.py
/build
/lib workspace/ken_api/build
/lib workspace/ken_api/dist
/lib workspace/ken_api/tbc_ken_api.egg-info
/lib workspace/ken_api/Generate.cmd
/.vscode
/.vscode/settings.json
/backtester/TSLA_History.csv
/backtester/datasets/*
/frontend/node_modules
/frontend/public
/backend/node_modules
/finance/lib workspace/ken_api/build
/finance/lib workspace/ken_api/dist
/finance/lib workspace/ken_api/tbc_ken_api.egg-info
/finance/backtester/datasets/*
/webApp/backend/node_modules
**node_modules
/webApp/frontend/.cache
/webApp/frontend/node_modules
!finance/backtester/datasets/.gitkeep 